{% extends "base.html" %}

{% block title %}{{ file[0] }} - Music Text Recognition{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2>{{ file[0] }}</h2>
            </div>
            <div class="card-body">
                <div class="mb-4">
                    <h4>Status</h4>
                    <span class="status-{{ file[2] }}">
                        {{ file[2]|title }}
                    </span>
                </div>
                
                <div class="mb-4">
                    <h4>Recognized Text</h4>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">{{ file[1] }}</p>
                        </div>
                    </div>
                </div>
                
                <a href="{{ url_for('index') }}" class="btn btn-secondary">Back to Files</a>
            </div>
        </div>
    </div>
</div>
{% endblock %} 